[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"discord.py" = "*"
djangorestframework = "*"
requests = "==2.26.0"
asyncio = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
